{% extends "main_collection/base.html" %}

{% block title %}Exhibits{% endblock %}

{% block content %}



       
<div class="container">
<div class="row">
<div class="wrapper">

{% if entries %}

        {% for Exhibit in entries %}

<div class = "col-xs-12 col-md-6 col-lg-4">         
        <div class="{% cycle 'row1' 'row2' %}">
        <div class="item">

           
    <ul>
    	<img class="thumbnail" src="/media/{{Exhibit.exhibit_image}}"/>

    	<li class = "big_title"><b>Title:</b> 
            <a href = "{% url 'exhibit' Exhibit.location %}">{{Exhibit.title}}</a></li>
    </ul>
    
        </div>
    	</div>

</div>

{% endfor %}

</div>
</div>
</div>



{% endif %}

{% endblock %}
